<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
<%- include('head.ejs') %>

<body role="application">
<%- include('navigation.ejs') %>

<div class="container">
    <ul class="list-group">
        <% for(var i = 0; i < cdes.length; i++) {
            let desig = cdes[i].designations && cdes[i].designations[0]
                    ?cdes[i].designations[0].designation:"No Name";
        %>
        <li class="list-group-item">
            <a href="/deView?tinyId=<%= cdes[i].tinyId %>">
                <%= desig %></a>
        </li>
        <% } %>
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination flex-wrap">
            <% for(var i = 1; i <= totalPages; i++) { %>
            <li class="page-item">
                <a class="page-link" href="/cde/search?selectedOrg=<%= selectedOrg %>&&page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
        </ul>
    </nav>
</div>

<%- include('footer.ejs') %>

<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike"
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/assets/img/NIH-CDE.svg"
          }
</script>
<script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>
</body>
</html>
