<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body role="application">
<%- include('navigation.ejs') %>
<div class="container" itemscope="https://schema.org/MedicalCode">
    <% if (elt) { %>
    <h1><%= elt.designations[0].designation %></h1>
    <%- include('generalDetail.ejs') %>
    <div class="row" id="pvs_tab">
        <h2 class="w-100">Permissible Values:</h2>
        <div class="col-12">
            <dl class="row">
                <dt class="col-3">Value Type:</dt>
                <dd class="col-9"><%= elt.valueDomain.datatype %></dd>
                <dt class="col-3">Unit of Measure:</dt>
                <dd class="col-9"><%= elt.valueDomain.uom %></dd>
                <dt class="col-3">Ids:</dt>
                <dd class="col-9"><%= elt.valueDomain.ids %></dd>
            </dl>
        </div>
        <% if (elt.valueDomain.permissibleValues) { %>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Value</th>
                    <th>Code Name</th>
                    <th>Code</th>
                    <th>Code System</th>
                    <th>Code Description</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < elt.valueDomain.permissibleValues.length; i++) {
                    var pv = elt.valueDomain.permissibleValues[i]; %>
                <tr>
                    <td><%= pv.permissibleValue %></td>
                    <td><%= pv.valueMeaningName %></td>
                    <td><%= pv.valueMeaningCode %></td>
                    <td><%= pv.codeSystemName %></td>
                    <td><%= pv.valueMeaningDefinition %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
    </div>
    <%- include('naming.ejs') %>
    <%- include('referenceDocuments.ejs') %>
    <%- include('properties.ejs') %>
    <%- include('identifiers.ejs') %>
    <% } %>

</div>

<%- include('footer.ejs') %>

<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike"
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/assets/img/NIH-CDE.svg"
          }
</script>
<script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>
</body>
</html>
