<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">
<%- include head.ejs %>

<body role="application">
<%- include navigation.ejs %>

<div class="container" itemscope="https://schema.org/MedicalCode">
    <% if (elt) { %>
    <h1><%= elt.designations[0].designation %></h1>
    <%- include generalDetail.ejs %>
    <%- include naming.ejs %>
    <%- include referenceDocuments.ejs %>
    <%- include properties.ejs %>
    <%- include identifiers.ejs %>
    <% } %>

</div>

<%- include footer.ejs %>

<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike"
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://form.nlm.nih.gov",
          "logo": "https://form.nlm.nih.gov/form/public/assets/img/NIH-form.png"
          }
</script>
<script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "WebSite",
          "name" : "NIH form Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://form.nlm.nih.gov"
        }
</script>
</body>
</html>
