<div class="container">
{{cde.naming[0].designation}}
<tabset>
   <tab heading="General Details">
        <%- include cdegeneraldetails.ejs %>
        <hr/>
        <%- include cdespecificdetails.ejs %>
    </tab>
   <tab heading="Permissible Values" href="#">
        <%- include valueDomainView.ejs %>
   </tab>
    <tab heading="Classification">
        <%- include deClassification.ejs %>
    </tab>
    <tab heading="Concepts">
        <%- include concepts.ejs %>
   </tab>
    <tab heading="Status">
        <%- include deStatus.ejs %>
    </tab>
    <tab heading="Discussions">
        <%- include deDiscussions.ejs %>
    </tab>
    <tab heading="Attachments">
        <%- include deAttachments.ejs %>
    </tab>
    <tab heading="History">
        <%- include cdeHistory.ejs %>
    </tab>
</tabset>

<div class="row">
     <div ng-controller="SaveCdeCtrl">
     <div class="span12" ng-show="cde.unsaved">
         <button class="btn cancel" ng-click="revert(cde)">Discard Changes</button>
         <button class="btn btn-primary" ng-click="openSave()">Save</button>
     </div>
     <script type="text/ng-template" id="saveCdeModalContent.html">
         <%- include saveCdeModal.ejs %>
     </script>
     </div>
 </div>

</div>
   

