<div class="container-fluid">
<div class="alert" ng-show="cde.archived"><i class="fa fa-exclamation-triangle"></i> Warning: this data element is archived.</div> 
<div class="alert" ng-show="cde.registrationState.registrationStatus=='Retired'"><i class="fa fa-exclamation-triangle"></i> Warning: this data element is retired. <span ng-show="cde.registrationState.replacedBy"><a href="#/deview?uuid={{cde.registrationState.replacedBy.uuid}}">Replacement</a></span></div> 
<div class="alert" ng-show="cde.registrationState.administrativeStatus=='Retire Candidate'"><i class="fa fa-exclamation-triangle"></i> Warning: this data element is about to be retired. <span ng-show="cde.registrationState.replacedBy"><a href="#/deview?uuid={{cde.registrationState.replacedBy.uuid}}">Possible Replacement</a></span></div> 

<div class="navbar-header">
    <span> {{cde.naming[0].designation}}</span>
</div>
<div class="collapse navbar-collapse" id="main-navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <a class="btn btn-small btn-default" ng-show="showCompareButton(cde)" ng-click="addToCompareCart(cde)" title="Add to Compare List" id="compareMe"><i class="fa fa-plus"></i> Compare</a>
    </ul>
</div>

<div tabset>
   <div tab heading="General Details">
        <%- include cdegeneraldetails.ejs %>
        <hr/>
        <%- include cdespecificdetails.ejs %>
   </div>
   <div tab heading="Permissible Values" href="#">
        <%- include valueDomainView.ejs %>
    </div>
    <div tab heading="Naming">
        <%- include deNaming.ejs %>
    </div>
    <div tab heading="Classification">
        <%- include deClassification.ejs %>
    </div>
    <div tab heading="Concepts">
        <%- include concepts.ejs %>
    </div>
    <div tab heading="Status">
        <%- include deStatus.ejs %>
    </div>
    <div tab heading="Properties">
        <%- include deProperties.ejs %>
    </div>
    <div tab heading="Identifiers">
        <%- include deIds.ejs %>
    </div>
    <div tab heading="Discussions">
        <%- include deDiscussions.ejs %>
    </div>
    <div tab heading="Boards">
        <h4>Boards this Data Element is in</h4>
        <%- include listOfBoards.ejs %>
    </div>
    <div tab heading="Attachments">
        <%- include deAttachments.ejs %>
    </div>
    <div tab heading="More Like This">
        <%- include deMlt.ejs %>
    </div>
    <div tab heading="History">
        <%- include cdeHistory.ejs %>
    </div>

</div>

<hr/>

<div class="row">
     <div ng-controller="SaveCdeCtrl">
     <div class="col-md-12" ng-show="cde.unsaved">
         <button class="btn cancel" ng-click="revert(cde)">Discard Changes</button>
         <button class="btn btn-primary" ng-click="openSave()" id="openSave">Save</button>
     </div>
     <script type="text/ng-template" id="saveCdeModalContent.html">
         <%- include saveCdeModal.ejs %>
     </script>
     </div>
 </div>

</div>

