<div class="container-fluid" ng-controller="VersionCtrl">
    <div class="alert alert-warning mt20" role="alert" ng-show="elt.archived"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this data element is archived.</div> 
    <div class="alert alert-warning mt20" role="alert" ng-show="elt.registrationState.registrationStatus=='Retired'"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this data element is retired. <span ng-show="elt.registrationState.replacedBy"><a href="#/deview?uuid={{elt.registrationState.replacedBy.uuid}}">Replacement</a></span></div> 
    <div class="alert alert-warning mt20" role="alert" ng-show="elt.registrationState.administrativeStatus=='Retire Candidate'"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> this data element is about to be retired. <span ng-show="elt.registrationState.replacedBy"><a href="#/deview?uuid={{elt.registrationState.replacedBy.uuid}}">Possible Replacement</a></span></div> 
    <div class="alert alert-info mt20" role="alert" ng-show="displayStatusWarning"><i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong> CDEs with a Standard or Preferred Standard status can't be edited.</div> 
    <div class="alert alert-info mt20" role="info" ng-show="elt.isFork"><i class="fa fa-exclamation-triangle"></i> You are editing a fork. <a href="/#/deview?cdeId={{rootFork._id}}"> <i class="fa fa-eye"></i> View Original</a>. To remove a fork, Retire it.</div> 

    <h1 class="page-header">
        {{elt.naming[0].designation}}
        <a class="btn btn-small btn-default" ng-show="showCompareButton(elt)" ng-click="addToQuickBoard(elt)" title="Add to Compare List" id="compareMe"><i class="fa fa-plus"></i> Add to Quick Board</a>
<!--        <span ng-show="elt.isFork && canCurate"><button class="btn btn-default btn-small" ng-click="sendForkNotification()"><i class="fa fa-envelope-o"></i> Send Notification</button> </span>-->
    </h1>

    <div tabset>
       <div tab heading="{{tabs[0].heading}}">
            <%- include cdegeneraldetails.ejs %>
            <hr/>
            <%- include cdespecificdetails.ejs %>
       </div>
       <div tab heading="{{tabs[1].heading}}">
            <%- include valueDomainView.ejs %>
        </div>
        <div tab heading="{{tabs[2].heading}}">
            <%- include deNaming.ejs %>
        </div>
        <div tab heading="{{tabs[3].heading}}">
            <%- include ../../system/views/elementClassification.ejs %>
        </div>
        <div tab heading="{{tabs[4].heading}}">
            <%- include concepts.ejs %>
        </div>
        <div tab heading="{{tabs[5].heading}}">
            <%- include deStatus.ejs %>
        </div>
        <div tab heading="{{tabs[6].heading}}" active='tabs[6].active'>
            <%- include deProperties.ejs %>
        </div>
        <div tab heading="{{tabs[7].heading}}">
            <%- include deIds.ejs %>
        </div>
        <div tab heading="{{tabs[8].heading}}">
            <%- include deDiscussions.ejs %>
        </div>
        <div tab heading="{{tabs[9].heading}}">
            <h4>Boards this Data Element is in</h4>
            <%- include listOfBoards.ejs %>
        </div>
        <div tab heading="{{tabs[10].heading}}">
            <div ng-include="'/system/public/html/attachments.html'"></div>
        </div>
        <div tab heading="{{tabs[11].heading}}">
            <%- include deMlt.ejs %>
        </div>
        <div tab heading="{{tabs[12].heading}}">
            <%- include cdeHistory.ejs %>
        </div>
        <div ng-show="!elt.isFork" tab heading="{{tabs[13].heading}}">
            <div ng-include="'/cde/public/html/forks.html'" ng-controller="ForkCtrl"></div>
        </div>

    </div>

    <hr/>

<div class="row">
     <div class="col-md-12" ng-show="elt.unsaved">
         <button class="btn cancel" ng-click="revert(elt)">Discard Changes</button>
         <button class="btn btn-primary" ng-click="openSave(elt, '#/deview?cdeId=')" id="openSave">Save</button>
     </div>
</div>

