<div ng-switch="cde.valueDomain.datatype">
    <div ng-switch-when="Value List">
        <%- include datatypeValueList.ejs %>
    </div>
    <div ng-switch-when="Text">
        <%- include datatypeText.ejs %>
    </div>
    <div ng-switch-when="Integer">
        <%- include datatypeInt.ejs %>
    </div>
    <div ng-switch-when="Float">
        <%- include datatypeFloat.ejs %>
    </div>
    <div ng-switch-when="Date">
        <%- include datatypeDate.ejs %>
    </div>    
    <div ng-switch-when="Externally Defined">
        <%- include datatypeExternal.ejs %>
    </div>     
</div>