<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="cde" id="ng-app" lang="en">
    <head>        
        <title>NLM CDE Repository</title>
        <meta name="site-version" content="<%- include version.ejs %>">
        <% var cdeIncludePath = "/cde/public/"; %>
        <% var systemIncludePath = "/system/public/"; %>
        <script src="<%= cdeIncludePath %>assets/js/angular-1.2.15.min.js"></script>
        <script src="<%= cdeIncludePath %>assets/js/angular-route.min.js"></script>
        <script src="<%= cdeIncludePath %>assets/js/angular-resource.min.js"></script>
        <script src="<%= cdeIncludePath %>assets/js/angular-sanitize.min.js"></script>
        <script src="<%= cdeIncludePath %>assets/js/textAngular-1.2.0.min.js"></script>
        <script src="<%= cdeIncludePath %>assets/js/angular-local-storage.js"></script>

        <%- include includeFrontEndJS.ejs %>
        <script src="<%= cdeIncludePath %>assets/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <link rel="stylesheet" href="<%= cdeIncludePath %>assets/bootstrap-3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="<%= cdeIncludePath %>assets/font-awesome-4.0.3/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="<%= cdeIncludePath %>assets/css/ng-grid.min.css" />
        <link href="<%= cdeIncludePath %>css/style.css" rel="stylesheet" type="text/css" media="all" />

        <!--[if lte IE 8]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
        <![endif]-->

         <!--[if lte IE 8]>
           <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
        <![endif]-->
   
         <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
         <![endif]--> 
         
        <!--[if lte IE 9]>
          <script>
            document.createElement('inline-edit');
            document.createElement('inline-area-edit');
          </script>
        <![endif]-->         
         
        <!-- fixes an issue in bootstrap #1078 -->
        <style>
            .modal-body{overflow-y: inherit;}
            .hand-cursor {cursor: pointer;}
        </style>
    </head>
    <body>

        <div ng-controller="MainCtrl">
            <!-- Navagation bar -->
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img alt="Home" src="<%= cdeIncludePath %>assets/img/nih-nlm-logo-simple.png" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="{{menuSearch}}"><a href="#/search">Search</a></li>
                            <li ng-show='isOrgCurator()' class="dropdown">    
                                <a class="dropdown-toggle" data-toggle="dropdown-c" href="#">Create<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/createCde">CDE</a></li>
                                </ul>
                            </li>
                            <li class="{{menuBoardList}}"><a href="#/boardList">Boards</a></li>
                            <li class="{{menuMyBoards}}" ng-show="user._id"><a href="#/myboards">My Boards</a></li>
                            <li class="{{menuCompare}}">
                                <p class="navbar-text"><a class="navbar-link" href="#/quickBoard" style="text-decoration:none;">Quick Board (
                                    <span ng-switch="quickBoard.length">
                                        <span ng-switch-when="0">empty</span>
                                        <span ng-switch-when="10">full</span>
                                        <span ng-switch-default>{{quickBoard.length}}</span>
                                    </span>)
                                    </a>
                                </p>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="{{menuLogin}}" ng-show='!user._id'><a href="#/login" id="login_link">Log In</a></li>
                            <li class="dropdown {{menuAccount}}" ng-show="user._id">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="username_link">{{user.username}}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-show='user._id'><a href="#/profile">Profile</a></li>
                                    <li ng-show='isOrgCurator()||isOrgAdmin()'><a href="#/inbox">Inbox</a></li>
                                    <li ng-show="isOrgCurator()"><a href="#/classificationmanagement">Classifications</a></li>
                                    <li ng-show="isOrgAdmin() && !user.siteAdmin"><a href="#/orgaccountmanagement">Account Management</a></li>
                                    <li ng-show='user._id && user.siteAdmin'><a href="#/siteaccountmanagement">Site Management</a></li>
                                    <li ng-show='user._id && user.siteAdmin'><a href="#/siteAudit">Audit</a></li>
                                    <li ng-show='user._id'><a href="/logout">Log Out</a></li>                                         
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Alerts area -->
            <div class="navbar-fixed-bottom">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            
            <!-- Main content area -->
            <div ng-view>
            </div>
        </div>
        
        <!-- Footer area -->
        <div>
            <hr>

            <footer>
                <div class="container">
                    <div class="row pt20">
                      <div class="col-md-5">
                        <p>
                            <a href="http://www.nlm.nih.gov/copyright.html"><small>Copyright</small></a>,
                            <a href="http://www.nlm.nih.gov/privacy.html"><small>Privacy</small></a>,
                            <a href="http://www.nlm.nih.gov/accessibility.html"><small>Accessibility</small></a>
                            <br/><br/>
                            <small>U.S. National Library of Medicine<br/>8600 Rockville Pike, Bethesda, MD 20894</small>
                        </p>
                      </div>
                      <div class="col-md-2">
                          <center><br/><a href="http://www.usa.gov"><img src="<%= cdeIncludePath %>assets/img/usagov_logo.gif" /></a></center>
                      </div>
                      <div class="col-md-5">
                          <p class="pull-right">
                                <a href="http://www.nih.gov/"><small>National Institutes of Health</small></a><br/>
                                <a href="http://www.hhs.gov/"><small>Health &amp; Human Services</small></a><br/>
                                <a href="http://www.nih.gov/icd/od/foia/index.htm"><small>Freedom of Information Act</small></a><br/>
                                <a href="http://apps.nlm.nih.gov/mainweb/siebel/nlm/index.cfm"><small>Contact Us</small></a>
                          </p>
                      </div>
                    </div>
                </div>            
            </footer>
        </div>
        
        <script src="<%= cdeIncludePath %>assets/js/diff_match_patch.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="<%= cdeIncludePath %>assets/bootstrap-3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<%= cdeIncludePath %>assets/js/ng-grid-2.0.7.min.js"></script>
        <script src="<%= cdeIncludePath %>assets/js/match-media.js"></script>
    </body>
</html> 
