<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="systemModule" id="ng-app" lang="en">
<head>
	<title ng-bind="$root.pageMeta.title">NIH CDE Repository</title>
	<meta name="site-version" content="<% include ../public/html/version.html %>"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="description" content="{{$root.pageMeta.description}}"/>
	<meta name="keywords" content="{{$root.pageMeta.keywords}}"/>

	<!--[if IE 9]>
	<script type="text/javascript">
		window.location = "/supportedBrowsers";
		document.createElement("inline-edit");
		document.createElement("inline-area-edit");
	</script>
	<![end if]-->

	<link href="/cde/public/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/cde/public/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="/cde/public/assets/css/ng-grid.min.css" rel="stylesheet" type="text/css"/>
	<link href="/cde/public/assets/css/bootstrap-tour.min.css" rel="stylesheet" type="text/css"/>

	<link href="/cde/public/assets/css/select2.css" rel="stylesheet">
	<link href="/cde/public/assets/css/selectize.default.css" rel="stylesheet">

	<!-- build:css /cde/public/css/style.concat.min.css -->
	<link href="/cde/public/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<!-- endbuild -->

	<link rel="stylesheet" href="/cde/public/assets/css/textAngular.css">
	<link href="/cde/public/assets/css/feedback.css" rel="stylesheet">

	<!-- build:js /cde/public/assets/js/resource.concat.min.js -->
	<script src="/cde/public/assets/js/jquery.min.js"></script>
	<script src="/cde/public/assets/js/jquery-ui.min.js"></script>
	<script src="/cde/public/assets/js/angular.min.js"></script>
	<script src="/cde/public/assets/js/angular-route.min.js"></script>
	<script src="/cde/public/assets/js/angular-resource.min.js"></script>
	<script src="/cde/public/assets/js/angular-sanitize.min.js"></script>
	<script src="/cde/public/assets/js/angular-animate.min.js"></script>
	<script src="/cde/public/assets/js/angular-file-upload.min.js"></script>

	<script src="/cde/public/assets/js/bootstrap.js"></script>

	<script src="/cde/public/assets/js/textAngular-rangy.min.js"></script>
	<script src="/cde/public/assets/js/textAngular-sanitize.min.js"></script>
	<script src="/cde/public/assets/js/textAngular.min.js"></script>

	<script src="/cde/public/assets/js/angular-local-storage.js"></script>
	<script src="/cde/public/assets/js/ui-bootstrap-tpls.js"></script>
	<script src="/cde/public/assets/js/diff_match_patch.js"></script>
	<script src="/cde/public/assets/js/match-media.js"></script>
	<script src="/cde/public/assets/js/sortable.js"></script>
	<script src="/cde/public/assets/js/scrollfix.js"></script>
	<script src="/cde/public/assets/js/select.js"></script>
	<script src="/cde/public/assets/js/bootstrap-tour.js"></script>
	<script src="/cde/public/assets/js/ng-grid.js"></script>
	<script src="/cde/public/assets/js/timeAgo.js"></script>
	<script src="/cde/public/assets/js/camelCaseToHuman.js"></script>
	<script src="/cde/public/assets/js/FileSaver.js"></script>

	<script src="/cde/public/js/ng-text-truncate.js"></script>
	<!-- end build -->

	<!-- include config -->
	<%- include config.html %>

	<!-- include google analytics -->
	<%- include googleAnalytics.html %>
</head>
<body role="application" id="top">
<div ng-controller="MainCtrl" itemscope>

	<!-- Navigation bar -->
	<%- include navigation.html %>

	<!-- Main content area -->
	<div ng-view></div>

	<!-- Alerts area -->
	<%- include alert.html %>

	<!-- Footer area -->
	<%- include footer.html %>

	<div ng-controller="FeedbackBtnCtrl">
		<angular-feedback options="feedbackOptions"></angular-feedback>
	</div>
</div>
<%- include includeFrontEndJS.ejs %>
<%- include ../../cde/views/includeFrontEndJS.ejs %>
<%- include ../../form/views/includeFrontEndJS.ejs %>
<%- include webtrends.ejs %>
<script src="/article/public/js/articleConfig.js"></script>
<script src="/cde/public/assets/js/feedback.js"></script>
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/NIH-CDE.png"
          }
</script>
<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>
</body>
</html>
