<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="systemModule" id="ng-app" lang="en">
<head>
	<title>NIH Common Data Elements (CDE) Repository</title>
	<meta name="site-version" content="<%= version %>"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="description"
	      content="Repository of Common Data Elements (CDE) and Protocol Forms. Search CDEs. Search Protocol Forms."/>
	<meta name="keywords"
	      content="cde, common data element, form, protocol, protocol form, crf, case report form, promis, neuro-qol, phenx, ahrq, ninds, value set, repository, nih, nlm, national institutes of health, national library of medicine"/>
	<meta name=viewport content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script type="text/javascript">
		window.location = "/supportedBrowsers";
		document.createElement("inline-edit");
		document.createElement("inline-area-edit");
	</script>
	<![endif]-->

	<!--[if IE]><!-->
	<style>
		.ieFix {
			margin-right: 5px !important;
		}
	</style>
	<!--<![endif]-->

	<!-- build:css /system/public/assets/css/styles.css -->
	<link href="/cde/public/css/style.css" rel="stylesheet" type="text/css" media="all"/>

	<!-- bower:css -->
	<link rel='stylesheet' href='/components/font-awesome/css/font-awesome.css' />
	<link rel='stylesheet' href='/components/jquery-ui/themes/start/jquery-ui.min.css' />
	<link rel='stylesheet' href='/components/select2/select2.css' />
	<link rel='stylesheet' href='/components/selectize/dist/css/selectize.css' />
	<link rel='stylesheet' href='/components/angular-ui-select/dist/select.css' />
	<link rel='stylesheet' href='/components/bootstrap-css-only/css/bootstrap.css' />
	<link rel='stylesheet' href='/components/textAngular/src/textAngular.css' />
	<link rel='stylesheet' href='/components/bootstrap-tour/build/css/bootstrap-tour.css' />
	<link rel='stylesheet' href='/components/bootstrap-tour/build/css/bootstrap-tour-standalone.css' />
	<link rel='stylesheet' href='/components/ng-grid/ng-grid.css' />
	<link rel='stylesheet' href='/components/autocomplete-lhc/source/auto_completion.css' />
	<link rel='stylesheet' href='/components/lforms/app/styles/lforms.css' />
	<!-- endbower -->

	<link rel='stylesheet' href='/components/angular-send-feedback/dist/angular-send-feedback.css'/>
	<!-- endbuild -->

	<!-- include config -->
	<%- include config.html %>

	<!-- include google analytics -->
	<%- include googleAnalytics.html %>
</head>

<body role="application" id="top">
<div ng-controller="MainCtrl" itemscope>


	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NPVRL3"
					  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-NPVRL3');</script>
	<!-- End Google Tag Manager -->
	

	<!-- Navigation bar -->
	<%- include navigation.html %>

	<!-- Main content area -->
	<div ng-view></div>

	<!-- Alerts area -->
	<%- include alert.html %>

	<!-- Footer area -->
	<%- include footer.html %>

	<div ng-controller="FeedbackBtnCtrl">
		<angular-feedback options="feedbackOptions"></angular-feedback>
	</div>
</div>

<!-- build:js /system/public/assets/js/vendor.js -->
<!-- bower:js -->
<script src="/components/jquery/jquery.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-resource/angular-resource.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="/components/angular-timeago/src/timeAgo.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/jquery-ui/jquery-ui.js"></script>
<script src="/components/select2/select2.js"></script>
<script src="/components/sifter/sifter.js"></script>
<script src="/components/microplugin/src/microplugin.js"></script>
<script src="/components/selectize/dist/js/selectize.js"></script>
<script src="/components/angular-ui-select/dist/select.js"></script>
<script src="/components/rangy/rangy-core.min.js"></script>
<script src="/components/rangy/rangy-cssclassapplier.min.js"></script>
<script src="/components/rangy/rangy-selectionsaverestore.min.js"></script>
<script src="/components/rangy/rangy-serializer.min.js"></script>
<script src="/components/textAngular/src/textAngular.js"></script>
<script src="/components/textAngular/src/textAngular-sanitize.js"></script>
<script src="/components/textAngular/src/textAngularSetup.js"></script>
<script src="/components/bootstrap-tour/build/js/bootstrap-tour.js"></script>
<script src="/components/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
<script src="/components/ng-grid/build/ng-grid.js"></script>
<script src="/components/angularjs-camelCase-human/camelcase-browser.js"></script>
<script src="/components/html2canvas/build/html2canvas.js"></script>
<script src="/components/angular-send-feedback/dist/angular-send-feedback.js"></script>
<script src="/components/ng-file-upload/angular-file-upload.js"></script>
<script src="/components/jszip/dist/jszip.js"></script>
<script src="/components/jxon/index.js"></script>
<script src="/components/jscrypto/crypto.js"></script>
<script src="/components/autocomplete-lhc/source/prototype_api.js"></script>
<script src="/components/autocomplete-lhc/source/effects.js"></script>
<script src="/components/autocomplete-lhc/source/effectScroll.js"></script>
<script src="/components/autocomplete-lhc/source/event.simulate.js"></script>
<script src="/components/autocomplete-lhc/source/observable.js"></script>
<script src="/components/autocomplete-lhc/source/screenReaderLog.js"></script>
<script src="/components/autocomplete-lhc/source/recordDataRequester.js"></script>
<script src="/components/autocomplete-lhc/source/fieldAlarms.js"></script>
<script src="/components/autocomplete-lhc/soundmanager/bonk.js"></script>
<script src="/components/autocomplete-lhc/source/dialog.js"></script>
<script src="/components/autocomplete-lhc/source/autoCompBase.js"></script>
<script src="/components/autocomplete-lhc/source/suggestionDialog.js"></script>
<script src="/components/autocomplete-lhc/source/autoCompPrefetch.js"></script>
<script src="/components/autocomplete-lhc/source/autoCompSearch.js"></script>
<script src="/components/autocomplete-lhc/source/autoCompEvents.js"></script>
<script src="/components/autocomplete-lhc/source/autocomplete-lhc.js"></script>
<script src="/components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<script src="/components/lforms/app/lforms.js"></script>
<script src="/components/lforms/app/scripts/lforms-constants.js"></script>
<script src="/components/lforms/app/scripts/controllers/lforms-controller.js"></script>
<script src="/components/lforms/app/scripts/directives/lf-date.js"></script>
<script src="/components/lforms/app/scripts/lib/date.js"></script>
<script src="/components/lforms/app/scripts/lib/js-class.js"></script>
<script src="/components/lforms/app/scripts/lib/cross_browser.js"></script>
<script src="/components/lforms/app/scripts/lib/util.js"></script>
<script src="/components/lforms/app/scripts/lib/lforms-data.js"></script>
<script src="/components/lforms/app/lforms.tpl.js"></script>
<script src="/components/oboe/dist/oboe-browser.js"></script>
<script src="/components/traverse/traverse.js"></script>
<script src="/components/lodash/lodash.js"></script>
<script src="/components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="/components/checklist-model/checklist-model.js"></script>
<script src="/components/angular-ui-sortable/sortable.js"></script>
<script src="/components/async/dist/async.js"></script>
<!-- endbower -->


<script src="/components/lforms-converter/lforms-converter.js"></script>

<script src="/cde/public/assets/js/diff_match_patch.js"></script>
<script src="/cde/public/assets/js/match-media.js"></script>
<script src="/cde/public/assets/js/scrollfix.js"></script>
<script src="/cde/public/assets/js/FileSaver.js"></script>
<script src="/system/public/js/ng-display-object.js"></script>
<script src="/system/public/js/ng-compare-side-by-side.js"></script>
<script src="/system/public/js/ng-text-truncate.js"></script>
<script src="/article/public/js/articleConfig.js"></script>


<script src="/article/public/js/angularTemplates.js"></script>
<script src="/cde/public/js/angularTemplates.js"></script>
<script src="/form/public/js/angularTemplates.js"></script>
<script src="/system/public/js/angularTemplates.js"></script>
<!-- endbuild -->

<%- include includeFrontEndJS.ejs %>
<%- include ../../cde/views/includeCdeFrontEndJS.ejs %>
<%- include ../../form/views/includeFormFrontEndJS.ejs %>

<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/NIH-CDE.png"
          }


</script>

<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }


</script>

</body>
</html>
