<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en">
<head>
	<title>NIH Common Data Elements (CDE) Repository</title>
	<meta name="site-version" content="<%= version %>"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="description"
	      content="Repository of Common Data Elements (CDE) and Protocol Forms. Search CDEs. Search Protocol Forms."/>
	<meta name="keywords"
	      content="cde, common data element, form, protocol, protocol form, crf, case report form, promis, neuro-qol, phenx, ahrq, ninds, value set, repository, nih, nlm, national institutes of health, national library of medicine"/>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="hgnYTGxY1q6mEcYD8VptKKAQCnwoWzfySPSGQWRgdyk" />

	<!--[if lt IE 9]>
	<script type="text/javascript">
		window.location = "/supportedBrowsers";
		document.createElement("inline-edit");
		document.createElement("inline-area-edit");
	</script>
	<![endif]-->

	<!--[if IE]><!-->
	<style>
		.ieFix {
			margin-right: 5px !important;
		}
	</style>
	<!--<![endif]-->

	<!-- build:css /system/public/assets/css/styles.css -->
	<link href="/cde/public/css/style.css" rel="stylesheet" type="text/css" media="all"/>

	<!-- bower:css -->
	<link rel='stylesheet' href='/components/font-awesome/css/font-awesome.css' />
	<link rel='stylesheet' href='/components/select2/select2.css' />
	<link rel='stylesheet' href='/components/selectize/dist/css/selectize.css' />
	<link rel='stylesheet' href='/components/angular-ui-select/dist/select.css' />
	<link rel='stylesheet' href='/components/bootstrap-css-only/css/bootstrap.css' />
	<link rel='stylesheet' href='/components/textAngular/src/textAngular.css' />
	<link rel='stylesheet' href='/components/bootstrap-tour/build/css/bootstrap-tour.css' />
	<link rel='stylesheet' href='/components/bootstrap-tour/build/css/bootstrap-tour-standalone.css' />
	<link rel='stylesheet' href='/components/ng-grid/ng-grid.css' />
	<link rel='stylesheet' href='/components/jquery-ui/themes/start/jquery-ui.min.css' />
	<!-- endbower -->

	<link rel='stylesheet' href='/components/angular-send-feedback/dist/angular-send-feedback.css'/>
	<!-- endbuild -->

	<%- include config.html %>

</head>

<body role="application" id="top">

<div ng-controller="MainCtrl" itemscope>

	<%- include googleAnalytics.html %>

	<!-- Navigation bar -->
	<%- include navigation.html %>

	<!-- Main content area -->
	<div ng-view>
		<br><br><br><br><br><br>
		<h2 class="text-center">Loading...</h2>
		<br><br><br><br><br><br>
	</div>

	<!-- Alerts area -->
	<%- include alert.html %>

	<!-- Footer area -->
	<%- include footer.html %>

	<div ng-controller="FeedbackBtnCtrl">
		<angular-feedback options="feedbackOptions"></angular-feedback>
	</div>
</div>


<!-- build:js /system/public/assets/js/vendor.js -->
<!-- bower:js -->
<script src="/components/jquery/jquery.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-resource/angular-resource.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="/components/angular-timeago/src/timeAgo.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/select2/select2.js"></script>
<script src="/components/sifter/sifter.js"></script>
<script src="/components/microplugin/src/microplugin.js"></script>
<script src="/components/selectize/dist/js/selectize.js"></script>
<script src="/components/angular-ui-select/dist/select.js"></script>
<script src="/components/rangy/rangy-core.js"></script>
<script src="/components/rangy/rangy-classapplier.js"></script>
<script src="/components/rangy/rangy-highlighter.js"></script>
<script src="/components/rangy/rangy-selectionsaverestore.js"></script>
<script src="/components/rangy/rangy-serializer.js"></script>
<script src="/components/rangy/rangy-textrange.js"></script>
<script src="/components/textAngular/src/textAngular.js"></script>
<script src="/components/textAngular/src/textAngular-sanitize.js"></script>
<script src="/components/textAngular/src/textAngularSetup.js"></script>
<script src="/components/bootstrap-tour/build/js/bootstrap-tour.js"></script>
<script src="/components/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
<script src="/components/ng-grid/build/ng-grid.js"></script>
<script src="/components/angularjs-camelCase-human/camelcase-browser.js"></script>
<script src="/components/html2canvas/build/html2canvas.js"></script>
<script src="/components/angular-send-feedback/dist/angular-send-feedback.js"></script>
<script src="/components/ng-file-upload/angular-file-upload.js"></script>
<script src="/components/jszip/dist/jszip.js"></script>
<script src="/components/jxon/index.js"></script>
<script src="/components/jscrypto/crypto.js"></script>
<script src="/components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="/components/checklist-model/checklist-model.js"></script>
<script src="/components/jquery-ui/jquery-ui.js"></script>
<script src="/components/angular-ui-sortable/sortable.js"></script>
<script src="/components/async/dist/async.js"></script>
<script src="/components/angular-elastic/elastic.js"></script>
<!-- endbower -->

<script src="/cde/public/assets/js/socket.io.js"></script>
<script src="/cde/public/assets/js/diff_match_patch.js"></script>
<script src="/cde/public/assets/js/match-media.js"></script>
<script src="/cde/public/assets/js/scrollfix.js"></script>
<script src="/cde/public/assets/js/FileSaver.js"></script>
<script src="/system/public/js/ng-display-object.js"></script>
<script src="/system/public/js/compare-primitive.js"></script>
<script src="/system/public/js/compare-primitive-array.js"></script>
<script src="/system/public/js/compare-object-array.js"></script>
<script src="/system/public/js/compare-object.js"></script>
<script src="/system/public/js/ng-compare-side-by-side.js"></script>
<script src="/system/public/js/ng-text-truncate.js"></script>
<script src="/article/public/js/articleConfig.js"></script>


<script src="/board/public/js/angularTemplates.js"></script>
<script src="/article/public/js/angularTemplates.js"></script>
<script src="/cde/public/js/angularTemplates.js"></script>
<script src="/form/public/js/angularTemplates.js"></script>
<script src="/system/public/js/angularTemplates.js"></script>

<!-- System Controllers -->
<script src="/system/public/js/orgFactories.js"></script>
<script src="/system/public/js/systemModule.js"></script>
<script src="/system/public/js/exceptionHandler.js"></script>
<script src="/system/public/js/controllers/MainCtrl.js"></script>
<script src="/system/public/js/controllers/LogCtrl.js"></script>
<script src="/system/public/js/controllers/AccountManagementCtrl.js"></script>
<script src="/system/public/js/controllers/AttachmentsCtrl.js"></script>
<script src="/system/public/js/controllers/ProfileCtrl.js"></script>
<script src="/system/public/js/controllers/AuthCtrl.js"></script>
<script src="/system/public/js/controllers/UsersMgtCtrl.js"></script>
<script src="/system/public/js/controllers/HomeCtrl.js"></script>
<script src="/system/public/js/controllers/DailyUsageCtrl.js"></script>
<script src="/system/public/js/controllers/VersionCtrl.js"></script>
<script src="/system/public/js/controllers/ListCtrl.js"></script>
<script src="/system/public/js/controllers/ClassificationCtrl.js"></script>
<script src="/system/public/js/controllers/AddClassificationModalCtrl.js"></script>
<script src="/system/public/js/controllers/ClassificationManagementCtrl.js"></script>
<script src="/system/public/js/classification.js"></script>
<script src="/system/public/js/controllers/AddClassificationToOrgModalCtrl.js"></script>
<script src="/system/public/js/controllers/IdsCtrl.js"></script>
<script src="/system/public/js/controllers/PropertiesCtrl.js"></script>
<script src="/system/public/js/controllers/ReferenceDocumentCtrl.js"></script>
<script src="/system/public/js/controllers/CommentsCtrl.js"></script>
<script src="/system/public/js/controllers/RegistrationCtrl.js"></script>
<script src="/system/public/js/controllers/RegistrationModalCtrl.js"></script>
<script src="/system/public/js/controllers/AuditServerErrorListCtrl.js"></script>
<script src="/system/public/js/controllers/AuditClientErrorListCtrl.js"></script>
<script src="/system/public/js/controllers/TriggerClientExceptionCtrl.js"></script>
<script src="/system/public/js/controllers/AuditErrorListCtrl.js"></script>
<script src="/system/public/js/controllers/TakeATourCtrl.js"></script>
<script src="/system/public/js/controllers/ApproveCommentCtrl.js"></script>
<script src="/system/public/js/controllers/RemoveClassificationModalCtrl.js"></script>
<script src="/system/public/js/controllers/AuditLogCtrl.js"></script>
<script src="/system/public/js/controllers/ClassificationAuditLogCtrl.js"></script>
<script src="/system/public/js/controllers/SiteAuditCtrl.js"></script>
<script src="/system/public/js/controllers/ServerStatusesCtrl.js"></script>
<script src="/system/public/js/controllers/AccordionCtrl.js"></script>
<script src="/system/public/js/controllers/ApproveAttachmentCtrl.js"></script>
<script src="/system/public/js/controllers/SwitchListViewCtrl.js"></script>
<script src="/system/public/js/controllers/DatepickerCtrl.js"></script>
<script src="/system/public/js/controllers/DiffConfigCtrl.js"></script>
<script src="/system/public/js/controllers/ExportCtrl.js"></script>
<script src="/system/public/js/controllers/HasCommentsCtrl.js"></script>
<script src="/system/public/js/controllers/ValidationRules/SaveValidRuleCtrl.js"></script>
<script src="/system/public/js/controllers/ValidationRules/AddNewRuleCtrl.js"></script>
<script src="/system/public/js/controllers/ValidationRules/ShowValidRuleReportCtrl.js"></script>
<script src="/system/public/js/controllers/ValidationRules/SaveValidRuleCtrl.js"></script>
<script src="/system/public/js/controllers/TableViewCtrl.js"></script>
<script src="/system/public/js/controllers/SearchSettingsCtrl.js"></script>
<script src="/system/public/js/controllers/FeedbackBtnCtrl.js"></script>
<script src="/system/public/js/controllers/FeedbackIssueListCtrl.js"></script>
<script src="/system/public/js/controllers/OrgOverviewCtrl.js"></script>
<script src="/system/public/js/controllers/NewNamePairModalCtrl.js"></script>
<script src="/system/public/js/controllers/NamingCtrl.js"></script>
<script src="/system/public/js/controllers/BatchUploadCtrl.js"></script>
<script src="/system/public/js/controllers/GetProdCtrl.js"></script>
<script src="/system/public/js/controllers/MeshMappingMgtCtrl.js"></script>
<script src="/system/public/js/controllers/EmbedCtrl.js"></script>
<script src="/system/public/js/controllers/LatestCommentsCtrl.js"></script>
<script src="/system/public/js/resources.js"></script>
<script src="/system/public/js/elastic.js"></script>
<script src="/system/public/js/SearchSettings.js"></script>
<script src="/system/shared/classificationShared.js"></script>
<script src="/system/shared/regStatusShared.js"></script>
<script src="/system/shared/authorizationShared.js"></script>
<script src="/system/shared/exportShared.js"></script>
<script src="/system/shared/compareShared.js"></script>
<script src="/system/public/js/controllers/LinkedFormsModalCtrl.js"></script>

<!-- CDE Controllers -->
<script src="/cde/public/js/cdeModule.js"></script>
<script src="/cde/public/js/controllers/AddForkModalCtrl.js"></script>
<script src="/cde/public/js/controllers/BoardListCtrl.js"></script>
<script src="/system/public/js/controllers/CompareCtrl.js"></script>
<script src="/cde/public/js/controllers/ConceptsCtrl.js"></script>
<script src="/cde/public/js/controllers/CreateCdeCtrl.js"></script>
<script src="/cde/public/js/controllers/DEViewCtrl.js"></script>
<script src="/cde/public/js/controllers/BoardExportCtrl.js"></script>
<script src="/cde/public/js/controllers/PermissibleValuesCtrl.js"></script>
<script src="/cde/public/js/controllers/MyBoardsCtrl.js"></script>
<script src="/cde/public/js/controllers/NewBoardModalCtrl.js"></script>
<script src="/cde/public/js/controllers/NewConceptModalCtrl.js"></script>
<script src="/cde/public/js/controllers/MergeModalCtrl.js"></script>
<script src="/cde/public/js/controllers/InboxCtrl.js"></script>
<script src="/cde/public/js/controllers/MergeApproveCtrl.js"></script>
<script src="/cde/public/js/controllers/MergeRequestCtrl.js"></script>
<script src="/cde/public/js/merge.js"></script>
<script src="/system/public/js/controllers/QuickBoardCtrl.js"></script>
<script src="/cde/public/js/controllers/SDCViewCtrl.js"></script>
<script src="/cde/public/js/controllers/DEListCtrl.js"></script>
<script src="/cde/public/js/controllers/MoreLikeThisModalCtrl.js"></script>
<script src="/cde/public/js/controllers/LinkedFormsCtrl.js"></script>
<script src="/cde/public/js/controllers/DerivationRulesCtrl.js"></script>
<script src="/cde/public/js/controllers/CdeHistoryCtrl.js"></script>
<script src="/cde/public/js/controllers/CdeCopyModalCtrl.js"></script>
<script src="/cde/public/js/controllers/NewPvModalCtrl.js"></script>
<script src="/cde/public/js/controllers/CreateCdeAbstractCtrl.js"></script>
<script src="/cde/public/js/cdeDiff.js"></script>
<script src="/cde/public/js/resources.js"></script>
<script src="/cde/shared/deValidator.js"></script>
<script src="/cde/public/js/controllers/RegStatusValidationCtrl.js"></script>

<!-- Form Controllers -->
<script src="/form/public/js/formModule.js"></script>
<script src="/form/public/js/resources.js"></script>
<script src="/form/public/js/native-valuelist.js"></script>
<script src="/form/public/js/controllers/FormListCtrl.js"></script>
<script src="/form/public/js/controllers/FormDEListCtrl.js"></script>
<script src="/form/public/js/controllers/FormFormListCtrl.js"></script>
<script src="/form/public/js/controllers/CreateFormCtrl.js"></script>
<script src="/form/public/js/controllers/FormViewCtrl.js"></script>
<script src="/form/public/js/controllers/FormViewSectionCtrl.js"></script>
<script src="/form/public/js/controllers/FormRenderCtrl.js"></script>
<script src="/form/public/js/controllers/SectionCtrl.js"></script>
<script src="/form/public/js/controllers/FormDiffCtrl.js"></script>
<script src="/form/public/js/controllers/SelectQuestionNameModalCtrl.js"></script>
<script src="/form/public/js/controllers/ClassifyFormCdesModalCtrl.js"></script>
<script src="/form/public/js/controllers/FormGeneralDetailCollapseCtrl.js"></script>
<script src="/form/public/js/controllers/DisplayProfileCtrl.js"></script>
<script src="/form/public/js/controllers/CreateFormAbstractCtrl.js"></script>
<script src="/form/public/js/controllers/CreateFormFromBoardModalCtrl.js"></script>
<script src="/form/public/js/controllers/UpdateCdeRefVersionCtrl.js"></script>
<script src="/form/shared/formShared.js"></script>
<script src="/form/public/js/controllers/FormCopyModalCtrl.js"></script>

<!-- Board Controllers -->
<script src="/board/public/js/controllers/ShareBoardCtrl.js"></script>
<script src="/board/public/js/controllers/BoardViewCtrl.js"></script>
<script src="/board/public/js/controllers/SelectBoardModalCtrl.js"></script>

<script src="/system/public/js/bootstrapApp.js"></script>
<!-- endbuild -->


<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "GovernmentOrganization",
          "name":"U.S. National Library of Medicine",
          "address":{
            "@type":"PostalAddress",
            "addressCountry":"US",
            "addressLocality":"Bethesda",
            "addressRegion":"MD",
            "postalCode":"20894",
            "streetAddress":"8600 Rockville Pike",
            },
          "description" : "NIH Common Data Elements Repository",
          "url": "https://cde.nlm.nih.gov",
          "logo": "https://cde.nlm.nih.gov/cde/public/assets/img/NIH-CDE.png"
          }
</script>

<script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "NIH CDE Repository",
          "description" : "NIH Common Data Elements Repository",
          "url" : "https://cde.nlm.nih.gov"
        }
</script>

</body>
</html>
