<% if (elt.referenceDocuments.length) { %>
<div class="row" id="referenceDocuments_tab">
    <h2 class="w-100">Reference Documents:</h2>
    <% for(var i = 0; i < elt.referenceDocuments.length; i++) {
        var referenceDocument = elt.referenceDocuments[i];
    %>
    <div class="col-12">
        <dl class="row">
            <dt class="col-3">ID:</dt>
            <dd class="col-9"><%= referenceDocument.referenceDocumentId %></dd>
            <dt class="col-3">Title:</dt>
            <dd class="col-9"><%= referenceDocument.title %></dd>
            <dt class="col-3">URI:</dt>
            <dd class="col-9"><%= referenceDocument.uri %></dd>
            <dt class="col-3">Provider Org:</dt>
            <dd class="col-9"><%= referenceDocument.providerOrg %></dd>
            <dt class="col-3">Language Code:</dt>
            <dd class="col-9"><%= referenceDocument.languageCode %></dd>
            <dt class="col-3">Document:</dt>
            <dd class="col-9"><%= referenceDocument.document %></dd>
        </dl>
    </div>
    <% } %>
</div>
<% } %>

